
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=8801a0e7c6e4b3b7be195cdae46433cf
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress